* {
    font-family: monospace;
    font-size: 1.2rem;
}

html, body {
    color: #111;
    margin: 0;
    padding: 0;
    width: 100%;
}

td {
    width: auto;
    padding: 0;
}

.code-table {
    width: 100%;
    border-collapse: collapse;
}

.line-number {
    color: #999;
    padding: 2px 16px 2px 2px;
    width: 1%;
    white-space: nowrap;
}

.code-line {
    white-space: pre;
    padding-left: 8px;
}

.active-line .code-line {
    background-color: #eee;
    border-radius: 8px;
}

.active-line .line-number {
    color: #444;
}

.cursor-container {
    position: relative;
}

#cursor {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: #f50;
    width: 2px;
    height: 100%;
}

.code-highlight-keyword {
    color: steelblue;
}

.code-highlight-string {
    color: yellowgreen;
}

.code-highlight-comment {
    color: gray;
}

.code-highlight-operator {
    color: deeppink;
}

.code-highlight-number {
    color: orange;
}